{{ define "content" }}

<main class="px-3">
	<p class="lead">Добавить задачу</p>
	<div id="error"></div>
	<form action="/api/post" method="post">

		<p class="mb-0" style="text-align: left">Название задачи:</p>
		<input type="text" name="title" id="title" placeholder="Название" class="form-control"><br>

		<p class="mb-0" style="text-align: left">Описание:</p>
		<textarea type="text" name="description" id="description" placeholder="Описание" class="form-control" rows="3"></textarea><br>
		
		<p class="mb-0" style="text-align: left">К исполнению:</p>
		<input type="date" name="date" id="date" class="form-control"><br>
		
		<button class="btn btn-info">Добавить</button>

	</form>
</main>

<script>
	const urlParams = new URLSearchParams(window.location.search);
	const isError = urlParams.get('error')
	if (isError == 'empty') {
		elem = document.getElementById('error');
		elem.innerHTML = '<div class="alert alert-danger" role="alert">Все поля являются обязательными</div>';
	}
</script>
{{ end }}